@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Medium.eot');
    src: local('Unbounded Medium'), local('Unbounded-Medium'),
        url('Unbounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Medium.woff2') format('woff2'),
        url('Unbounded-Medium.woff') format('woff'),
        url('Unbounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Bold.eot');
    src: local('Unbounded Bold'), local('Unbounded-Bold'),
        url('Unbounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Bold.woff2') format('woff2'),
        url('Unbounded-Bold.woff') format('woff'),
        url('Unbounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Regular.eot');
    src: local('Unbounded Regular'), local('Unbounded-Regular'),
        url('Unbounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Regular.woff2') format('woff2'),
        url('Unbounded-Regular.woff') format('woff'),
        url('Unbounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Black.eot');
    src: local('Unbounded Black'), local('Unbounded-Black'),
        url('Unbounded-Black.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Black.woff2') format('woff2'),
        url('Unbounded-Black.woff') format('woff'),
        url('Unbounded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('Unbounded-Light.eot');
    src: local('Unbounded Light'), local('Unbounded-Light'),
        url('Unbounded-Light.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Light.woff2') format('woff2'),
        url('Unbounded-Light.woff') format('woff'),
        url('Unbounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded Blond';
    src: url('Unbounded-Blond.eot');
    src: local('Unbounded Blond'), local('Unbounded-Blond'),
        url('Unbounded-Blond.eot?#iefix') format('embedded-opentype'),
        url('Unbounded-Blond.woff2') format('woff2'),
        url('Unbounded-Blond.woff') format('woff'),
        url('Unbounded-Blond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Raleway';
    src: url('Raleway-SemiBoldItalic.eot');
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
        url('Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('Raleway-SemiBoldItalic.woff') format('woff'),
        url('Raleway-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraLightItalic.eot');
    src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
        url('Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('Raleway-ExtraLightItalic.woff') format('woff'),
        url('Raleway-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-MediumItalic.eot');
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
        url('Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-MediumItalic.woff2') format('woff2'),
        url('Raleway-MediumItalic.woff') format('woff'),
        url('Raleway-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraBoldItalic.eot');
    src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
        url('Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('Raleway-ExtraBoldItalic.woff') format('woff'),
        url('Raleway-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
        url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Regular.woff2') format('woff2'),
        url('Raleway-Regular.woff') format('woff'),
        url('Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraBold.eot');
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
        url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Raleway-ExtraBold.woff2') format('woff2'),
        url('Raleway-ExtraBold.woff') format('woff'),
        url('Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-BlackItalic.eot');
    src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
        url('Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-BlackItalic.woff2') format('woff2'),
        url('Raleway-BlackItalic.woff') format('woff'),
        url('Raleway-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Light.eot');
    src: local('Raleway Light'), local('Raleway-Light'),
        url('Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Light.woff2') format('woff2'),
        url('Raleway-Light.woff') format('woff'),
        url('Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Black.eot');
    src: local('Raleway Black'), local('Raleway-Black'),
        url('Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Black.woff2') format('woff2'),
        url('Raleway-Black.woff') format('woff'),
        url('Raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Medium.woff2') format('woff2'),
        url('Raleway-Medium.woff') format('woff'),
        url('Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-ExtraLight.eot');
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
        url('Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Raleway-ExtraLight.woff2') format('woff2'),
        url('Raleway-ExtraLight.woff') format('woff'),
        url('Raleway-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Italic.eot');
    src: local('Raleway Italic'), local('Raleway-Italic'),
        url('Raleway-Italic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Italic.woff2') format('woff2'),
        url('Raleway-Italic.woff') format('woff'),
        url('Raleway-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Thin.eot');
    src: local('Raleway Thin'), local('Raleway-Thin'),
        url('Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Thin.woff2') format('woff2'),
        url('Raleway-Thin.woff') format('woff'),
        url('Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
        url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Raleway-SemiBold.woff2') format('woff2'),
        url('Raleway-SemiBold.woff') format('woff'),
        url('Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-LightItalic.eot');
    src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
        url('Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Raleway-LightItalic.woff2') format('woff2'),
        url('Raleway-LightItalic.woff') format('woff'),
        url('Raleway-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('Raleway-Bold.woff2') format('woff2'),
        url('Raleway-Bold.woff') format('woff'),
        url('Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}





*{
    box-sizing: border-box;
}
 body{
    -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
    
 }




.container {
  max-width: 68.75%;
  margin: 0 auto;
  
}

h1 {
  font-size: 350%;
  font-weight: bold;
  font-family: 'Unbounded';
}

h2 {
  font-size: 300%;
  font-weight: bold;
  font-family: 'Unbounded';
}

h3 {
  font-size: 250%;
  font-weight: bold;
  font-family: 'Unbounded';
}

h4 {
  font-size: 200%;
  font-weight: bold;
  font-family: 'Unbounded';
}

h5{ 
  font-size: 150%;
  font-weight: regular;
  font-family: 'Raleway', serif;
}

h6 {
  font-size: 125%;
  font-weight: regular;
  font-family: 'Raleway', serif;
}

.linevert {
  position: absolute;
  left: 15.625%;
  top: 0%;
}

.linevert1 {
  position: absolute;
  right: 15.625%;
  top: 0%;
}

.horizontal-line {
  display: flex;
  position: absolute;
  width: 68.75%;
  align-items: center;
}




p {
    font-family: 'Raleway', serif;
}

/* .menu all-items {cursor
  display: flex;
  align-items: center;
  justify-content: center;
} */

.menu {
  padding: 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu a:hover{
  color: #0066FF;
}


.button {
  Top: 5.5%;
  left: 95%;
  background-color: #0066FF;
  flex-direction: row;
  padding: 16px 40px  16px 40px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  border: 2px solid #0066FF;
}

.button h6 {
  color: white;
}

.button:active {
  transform: scale(1);
}

/* Home */
.home {
  position: absolute;
  width: 100%;
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border: 2px solid #0066FF;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}

.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #0066FF;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #0066FF;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}

.form_container a {
  color: #0066FF;
  font-size: 12px;
  
}
.form_container a:hover {
  text-decoration: underline;
}

.form_container .button {
  background: #0066FF;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  color: white;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.orange-block,
.black-block {
  width: 50%;
  height: 447px;
}

.web,
.work {
  padding: 190px 0;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.blocks{
    display: flex;
}

.orange-block {
  background-color: #FF5C00;
}

.black-block {
  background-color: #1d1d1d;
  
}


.switch01 {
  padding-top: 9%;
  padding-bottom: 9%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.div5 {
    text-align: center;
    color: white;
    line-height: 1.3;
}


.toggle {
  position: relative;
  border-radius: 94px;
  border: 1px solid white;
  box-sizing: border-box;
  width: 151px;
  height: 82px;
  padding: 4px 4px 4px 4px;
  cursor: pointer;
}

  .group-item {
    width: 72px;
    height: 72px;
    background-color: #FF5C00;
    border-radius: 50%;
    align-items: start;
    animation: 3s ease-in 1s infinite reverse both running slidein;
  }


.vertical {
  left: -68.76%;
  transform: rotate(90deg);
}

.vertical1 {
  left: 68.76%;
  transform: rotate(90deg);
}

.p {
  margin: 0;
}


.career-block {
  display: flex;
  justify-content: space-between;
}

.career-white {
  width: 33%;
  height: 45.4%;
  background-color: white;
  display: flex;
  align-content: space-between;
  padding: 24px 24px 24px 24px;
}



.career-black {
  width: 33%;
  height: 45.4%;
  background-color: black;
  display: flex;
  padding: 24px 24px 24px 24px;
}



.career-black p {
  text-transform: uppercase;
  color: white;
  line-height: 1.3;
  font-family: 'Unbounded';
  font-weight: bold;
}

.career-white p {
  text-transform: uppercase;
  color: black;
  font-family: 'Unbounded';
  font-weight: bold;
  line-height: 1.3;
}

.text-arrow {
  display: flex;
  gap: 120px;
  flex-wrap: wrap;
  align-items: center;
}

.text-arrow-circle {
  gap: 56px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.circle-animation {
  animation: 6s linear infinite rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.arrow-animation {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

.about {
  width: 100%;
  height: 510px;
  background-color: #0066FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p {
  text-align: center;
  color: white;
  line-height: 1.4;
  font-family: 'Unbounded';
}

.about-study {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 56px;
}

.about-study h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
}

.about-study h5 {
  color: white;
  text-align: center;
  line-height: 1.3;
}

.ContainerCenter{
  display: flex;
	flex-direction: row;
  gap: 170px;
	justify-content: center;
	text-align: center;
}

.radio-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 16px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid #0066FF;
  transition: 0.2s all linear;
}

.ContainerCenter input {
	visibility: hidden;
	position: absolute;
  transition: 0.2s all linear;
}

.ContainerCenter input:checked+.radio-button {
	background-color: #FF5C00;
}

.radio-button img {
	width: 95px;
	height: 95px;
}

.study {
  display: flex;
  justify-content: space-between;
}

.theory {
  width: 33%;
  height: 45.4%;
  display: inline-flex;
  padding: 24px 24px 0px 24px;
  flex-direction: column;
  align-items: center;
  gap: 140px;
  background-color: white;
}

.theory-diagramm {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.theory-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
}

.theory-text h4 {
  text-transform: uppercase;
}

.theory-text h4 {
  line-height: 1.5;
}

.practice {
  width: 33%;
  height: 421px;
  display: inline-flex;
  padding: 24px 24px 0px 24px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.practice-diagramm {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.practice-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
  color: white;
}

.practice-text h4 {
  text-transform: uppercase;
}

.practice-text h4 {
  line-height: 1.5;
}

.workk {
  width: 33%;
  height: 421px;
  display: inline-flex;
  padding: 24px 24px 0px 24px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.workk-diagramm {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* gap: 50px; */
}

.workk-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
}

.workk-text h4 {
  text-transform: uppercase;
}

.workk-text h4 {
  line-height: 1.5;
}

.way h2 {
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
}

.way h5 {
  color: white;
  line-height: 1.3;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.lineway {
  /* width: 100%;
  height: 20%;
  background-color: #0066FF; */
  width: 100%;
  height: 300px;
  background-color: #0066FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 300px;
  height: 200px;
}

.sample-slider{
  width:100%;
}

.swiper-slide a {
  text-decoration: none;
  color: black;
}

.sample-slider .swiper-wrapper{
  transition-timing-function: linear;
  display: flex;
  gap: 24px;
}

.swiper-slide {
  padding: 24px;
  width: 33%;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.swiper-slide:hover {
  background-color: #FF5C00;
  cursor: pointer;
}

.swiper-slide:hover h4 {
  color: white;
}

.contact {
  margin-top: 120px;
  width: 100%;
  height: 510px;
  background-color: #0066FF;
  gap: 40px;

}

.contact h2 {
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
}

.contact h5 {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kontaktiki {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts {
  display: flex;
}

.contacts h1{
  color: white;
  padding: 120px 120px 60px 120px;
}

.contacts h5{
  color: white;
  padding: 0 120px 60px 120px;
}

.input_box_new{
  position: relative;
  margin-left: 120px;
  margin-top: 60px;
  width: 24%;
  height: 40px;
}
.input_box_new input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
  background-color: black;
}
.input_box_new input:focus {
  border-color: #0066FF;
}

textarea {
  margin-left: 120px;
  margin-top: 60px;
  background-color: black;
  border: 1.5px solid #aaaaaa;
  width: 24%;
  height: 200px;
  color: #aaaaaa;;
}

textarea:focus {
  border-color: #0066FF;
}

.btn {
  margin-left: 120px;
  margin-top: 60px;
  margin-bottom: 120px;
  width: 24%;
  height: 56px;
  background-color: #FF5C00;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #0066FF;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 10%;
}

.error p {
  font-size: 333.47px;
  color: white;
  font-family: 'Unbounded';
  font-weight: 900;
}

.error img {
  position: absolute;
  z-index: 101;
  margin-left: -0.3%;
  margin-top: -2%;
}

.container h5 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn1 {
  width: 24%;
  height: 56px;
  border: 2px solid #0066FF;
  background-color: black;
  color: white;
  cursor: pointer;
}

.btn1:hover {
  background-color: #0066FF;
}

.buttonchik {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.buttonchik a {
  text-decoration: none;
  color: white;
}


.error h1{
  color: white;
}

.week {
  padding: 24px 90px 24px 90px;
  display: flex;
  justify-content: space-between;
}

.week_img{
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px
}

.empty {
  width: 312px;
  height: 172px;
  border: 2px solid #FFF;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.registration {
  margin-top: 60px;
  padding-top: 60px;
  
  width: 100%;
  height: 664px;
  background-color: #0066FF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration h2 {
  color: white;
  text-align: center;
  line-height: 1.2;
}

.input_box_new_web {
  width: 14%;
  height: 40px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input_box_new_web input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #ffffff;
  background-color: #0066FF;
}


.input_box_new_web input:focus {
  border-color: #FF5C00;
}

label {
  color: white;
  font-family: 'Raleway';
}

select {
  background-color: white;
  font-family: 'Raleway';
  width: 100%;
  position: relative;
  margin: 10px auto;
  height: 120px;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #ddd;
  color: #0066FF;
  cursor: pointer;
}



.registr {
  width: 100%;
  background-color: #0066FF;
  border: 2px solid white;
  padding: 16px;
  color: white;
  cursor: pointer;
}

.registr:hover{
  background-color: white;
  color: #0066FF;
  font-weight: 500;
}

.error h5{
  text-align: center;
}

.block-merch {
  width: 424px;
  height: 424px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 100px;
 
}

.text_block {
  display: flex;
  color: white;
  align-items: center;
}

.tw {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
}

.tw h5 {
  text-transform: uppercase;
  color: #FF5C00;
  font-weight: 500;
}

.block-merch1 {
  width: 424px;
  height: 424px;
  background-color: #FF5C00;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.block-merch2 {
  width: 424px;
  height: 424px;
  background-color: #0066FF;
  display: flex;
  justify-content: center;
  padding: 100px;
}

footer {
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-around;
  align-items: flex-start;
}

footer a {
  text-decoration: none;
}

.swiper sample-slider a {
  text-decoration: none;

}


